# Ignore dependency directories.
node_modules/
/wordpress/
/vendor/

# Ignore log files and databases.
*.log
*.sql
!.wp-env/*.sql
*.sqlite

# Ignore multi-root workspace definitions.
*.code-workspace

# Ignore temporary download files.
*.phar
*.zip
.bin/.tmp

# Ignore built directories.
/test-results/
/playwright-report/
/playwright/.cache/
/artifacts/
